body { background: #51142c; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 11px; display: flex; }
.block-logger-0 { color: #b686e6; font-size: 14px; margin-bottom: 5px; }
.block-metrics-1 { color: #ba1606; font-size: 12px; margin-bottom: 5px; }
.block-validator-2 { color: #dcc77f; font-size: 21px; margin-bottom: 5px; }
.block-logger-3 { color: #e2cbe0; font-size: 16px; margin-bottom: 5px; }
.block-filter-4 { color: #abc3bb; font-size: 21px; margin-bottom: 5px; }